/MyGameCfg/node_modules/*

/MyGameClient/.laya
/MyGameClient/.vscode
/MyGameClient/assets/resources/UI
/MyGameClient/assets/resources/json
/MyGameClient/assets/atlas
/MyGameClient/bin
/MyGameClient/engine
/MyGameClient/library
/MyGameClient/local
/MyGameClient/node_modules

/MyGameServer/.vscode
/MyGameServer/dist
/MyGameServer/node_modules

/MyGameUI/.objs



